h1{
    background-color: aqua;
}
h2{
    background-color: blueviolet;

}
  p{
    background-color: hotpink;
}
.padosi{
    background-color: brown;
}
.enimy{
    background-color: gold;
}
#enimy{
    background-color: yellowgreen
}
h3{
    background-color: indianred;
}
h4{
    background-color: orangered;
}
h5{
    background-color: aqua;
}
#b{
    background-color:khaki
}
.n{
    background-color: chartreuse;
}
